<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<h3 class="dropdown-headline">
    <f:translate key="LLL:EXT:content_sync/Resources/Private/Language/locallang.xlf:statusReport.headline" />
</h3>
<hr>
<div class="dropdown-table">

    <div class="dropdown-table-row">
        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-icon">
            <core:icon identifier="b13-content-sync-configuration" size="small" />
        </div>
        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-text">
            <f:translate key="LLL:EXT:content_sync/Resources/Private/Language/locallang.xlf:statusReport.current-configuration" />
            <f:if condition="{statusReport.configurationIsValid}">
                <f:then>
                    <br>
                    <small class="text-success">
                        {statusReport.configuration.sourceNode.connection} -&gt; {statusReport.configuration.targetNode.connection}
                    </small>
                </f:then>
                <f:else>
                    <br>
                    <small class="text-danger">
                        <f:translate key="LLL:EXT:content_sync/Resources/Private/Language/locallang.xlf:statusReport.invalid-configuration" />:
                        "{statusReport.configurationError}"
                    </small>
                </f:else>
            </f:if>
        </div>
    </div>

    <div class="dropdown-table-row">

            <div class="dropdown-table-column dropdown-table-column-top dropdown-table-icon">
                <core:icon identifier="b13-content-sync-status" size="small" />
            </div>
            <div class="dropdown-table-column dropdown-table-column-top dropdown-table-text t3js-content-sync-current-job">
                <f:render partial="ToolbarItems/Job" arguments="{job: statusReport.job}" />
                <f:if condition="{statusReport.newJobCreateable}">
                    <f:render partial="ToolbarItems/NewJob" />
                </f:if>
            </div>
    </div>
</div>
</html>
