<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<span class="toolbar-item-icon"
			title="{f:translate(key: 'LLL:EXT:content_sync/Resources/Private/Language/locallang.xlf:statusReport.headline')}">
    <span class="t3js-content-sync-toolbar-icon">
			<core:icon identifier="b13-content-sync-toolbar" size="small" alternativeMarkupIdentifier="inline"/>
		</span>
    <span class="t3js-content-sync-toolbar-spinner" style="display: none;">
			<core:icon identifier="spinner-circle-light" size="small"/>
		</span>
</span>

<span class="toolbar-item-title">
    <f:translate key="LLL:EXT:content_sync/Resources/Private/Language/locallang.xlf:statusReport.headline"/>
</span>

</html>
